body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "side nav nav nav"
    "side nav nav nav"
    "side sec1 sec1 sec2"
    "footer sec1 sec1 sec3";
    width: auto;
    height: 60rem;

}


main{
    grid-area: side;
    background-color:  #FF14B1;
    font-size: 120px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    padding-left: 40%;
}
main:hover{
    background-color: #000000;
    color: aliceblue;
}


nav{
    grid-area: nav;
    background-color: #78B1F7;
    font-size: 180px;
    text-align: center;
   padding-top: 80px;
}
nav:hover{
    background-color: #000000;
    color: aliceblue;
}


aside{
    grid-area: footer;
    background-color:  #F00000;
    font-size: 60px;
    text-align: center;
    padding-top: 75px;
}
aside:hover{
    background-color: #000000;
    color:aliceblue;
}
aside{
    color: beige;
}




.sec1{
    grid-area: sec1;
    background-color:  #FF9914;
    font-size: 100px;
    text-align: center;
    writing-mode: vertical-lr;
    padding: 20px 20% 5px 37%;
    
}
.sec1:hover{
    background-color: #000000;
    color: aliceblue;
}



.sec2{
grid-area: sec2;
background-color: azure;
font-size: 90px;
    text-align: center;
    padding: 60px 20px 20px 20px;
}

.sec2:hover{
    background-color: #000000;
    color: aliceblue;
}



.sec3{
grid-area: sec3;
background-color: #70DB94;
font-size: 130px;
    text-align: center;
    padding-top: 30px;
}
.sec3:hover{
    background-color: #000000;
    color: aliceblue;
}



@media (max-width: 680px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.3fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nav"
        "side"
        "footer"
        "sec1"
        "sec2"
        "sec3"
        ;
}

}

@media (max-width: 840px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.2fr 1fr 0.3fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nav" "side"
        "footer" "sec1"
        "sec2" "sec3"
        ;
}

}